 
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }
 
 body {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
 }
 
 .container {
     position: relative;
     width: 400px;
     background: #f4f3f3;
     padding: 30px;
     border-radius: 15px;
     box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
     text-align: center;
     border-radius: 20px 20px 0 20px;
 }
 
 .container h1 {
     font-size: 26px;
     margin-bottom: 20px;
 }
 
 .input-box {
     position: relative;
     margin: 10px 0;
 }
 .input-box span{
   margin-right: 190px;
 }
 .input-box input {
     width: 100%;
     padding: 12px;
     border: 1px solid #ccc;
     border-radius: 5px;
     font-size: 16px;
     padding-left: 40px;
     outline: none;
 }
 
 .input-box i {
     position: absolute;
     left: 10px;
     top: 50%;
     transform: translateY(-50%);
     font-size: 18px;
     color: #4a90e2;
 }
 
 .btn {
     width: 100%;
     padding: 12px;
     background: #4a90e2;
     color: #fff;
     border: none;
     border-radius: 5px;
     font-size: 18px;
     cursor: pointer;
     transition: 0.3s;
     margin-top: 10px;
 }
 
 .btn:hover {
     background: #357ABD;
 }
 
 .toggle-btn {
     font-size: 14px;
     margin-top: 10px;
     cursor: pointer;
     color: #4a90e2;
 }
 
 .toggle-btn:hover {
     text-decoration: underline;
 }
 
 .social-icons {
     display: flex;
     justify-content: center;
     gap: 15px;
     margin-top: 15px;
 }
 
 .social-icons i {
     font-size: 24px;
     color: #4a90e2;
     cursor: pointer;
     transition: 0.3s;
 }
 
 .social-icons i:hover {
     color: #357ABD;
 }
 
 .hidden {
     display: none;
 }
 